<form action="/" method="POST">
    <b>Username:</b> <input type="text" name="username" />
    <b>Password:</b> <input type="password" name="password" />
    <input type="submit" value="send">
</form>