<h1>Signup Page</h1>
<form action="/signup" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit"><i class="fa fa-chevron-right"></i></button>
</form>